/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.backup
.env.testing
.google_auth.json
prova.json
/users
/users-ebre-escool-migration